#insert-popular{
    display:flex;
    flex-flow: row wrap;

}

#insert-toprated{
    display:flex;
    flex-flow: row wrap;

}


#insert-upcoming{
    display:flex;
    flex-flow: row wrap;

}


#insert-nowplaying{
    display:flex;
    flex-flow: row wrap;

}

#insert-search{
    display:flex;
    flex-flow: row wrap;

}



article {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid black;

}
